﻿
    .nav-pills > li > a {
        border-radius: inherit;
        font-family: serif;
    }

    a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
        margin: 5px;
    }

    .nav-pills > li > a > .badge {
        margin: 5px;
    }

    .nav-pills > li + li {
        background-color: rgb(238, 233, 229);
        margin-left: inherit;
    }

    .nav-pills > li {
        background-color: rgb(238, 233, 229);
    }
    /*.nav > li > a:hover, .nav > li > a>.chevron:focus {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #428bca;
    }*/


    a.list-group-item.active > .badge, .nav-pills > .active > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron :hover {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid rgb(238, 233, 229);
    }

    .tab-content {
        background-color: rgb(238, 233, 229);
    }
