﻿@model  MyShop.Category




<link rel="stylesheet" href="/assets/plugins/chosen/chosen.min.css" />
<script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".message").hide();

    })
</script>
<style>
    input[type=checkbox] {
        visibility: visible;
    }
</style>


<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Category</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-edit"></i></div>
                        <h5>Category</h5>

                    </header>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel-body message">
                                <div class="alert alert-success">
                                    @ViewBag.ResultMessage
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="div-1" class="accordion-body collapse in body">

                        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @id = "category_form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Category Name *</label>
                                <div class="col-lg-6">
                                    @*<input type="text" id="text1" placeholder="Email" class="form-control" />*@
                                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Category Name", required = "required", @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta keyword *</label>

                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.MetaKeyword, new { placeholder = "Meta keyword", @required = "required", @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta Description *</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.MetaDescription, new { placeholder = "Meta Description", @required = "required", @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta Title *</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.MetaTitle, new { placeholder = "Meta Title", @required = "required", @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Select Category</label>
                                <div class="col-lg-6">
                                    @{List<SelectListItem> obj = ViewBag.ParentCategoryId;}
                                    @if (obj.Count != 0)
                                    {
                                        @Html.DropDownList("ParentCategoryId", obj, "[None]", new { @class = "form-control chzn-select" })
                                    }
                                </div>
                                <div class="col-lg-2">
                                    @Html.ValidationMessageFor(model => model.ParentCategoryId, "", new { @class = "danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">IsActive</label>
                                <div class="col-lg-6">
                                    @Html.CheckBoxFor(model => model.Published, new { @checked = "checked" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Upload Category</label>
                                <div class="col-lg-6">
                                    <input type="file" name="Image" id="uploadEditorImage">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="pass1" class="control-label col-lg-4">&nbsp;</label>

                                <div class="col-lg-6">
                                    <input class="btn btn-primary btn-round" type="button" value="Save" onclick="Create('/Category/Create', '#category_form')" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
