﻿@model  MyShop.Category


<link rel="stylesheet" href="/assets/plugins/chosen/chosen.min.css" />
<script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>

<script type="text/javascript" src="~/assets/developer_js/Category.js"></script>
<script>
    $(document).ready(function () {
        $(".message").hide();

    })
</script>


<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Category</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-edit"></i></div>
                        <h5>Category Edit</h5>

                    </header>
                    <div class="panel-body message">
                        <div class="alert alert-success">

                        </div>
                    </div>



                    <div id="div-1" class="accordion-body collapse in body">

                        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @id = "category_form", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.CreatedOnUtc)
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.UpdatedOnUtc)
                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Category Name *</label>

                                <div class="col-lg-8">
                                    @*<input type="text" id="text1" placeholder="Email" class="form-control" />*@
                                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Category Name", @required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Select Sub Category</label>
                                <div class="col-lg-8">
                                    @{List<SelectListItem> obj = ViewBag.ParentCategoryId;}
                                    @*@Html.DropDownList("ParentCategoryId", obj, "[None]", new { @class = "form-control chzn-select" })*@
                                    <select class="form-control chzn-select">
                                        @for (int i = 0; i < obj.Count; i++)
                                        {
                                            if (obj[i].Selected == true)
                                            {
                                                <option value="@obj[i].Value" selected="selected">@obj[i].Text</option>
                                            }
                                            else
                                            {

                                                <option value="@obj[i].Value">@obj[i].Text</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ParentCategoryId)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta keyword *</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.MetaKeyword, new { placeholder = "Meta keyword", @required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaKeyword)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta Description *</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.MetaDescription, new { placeholder = "Meta Description", @required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Meta Title *</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.MetaTitle, new { placeholder = "Meta Title", @required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">IsActive</label>
                                <div class="col-lg-8">
                                    @Html.CheckBoxFor(model => model.Published, new { value = "None", @id = "squaredOne", name = "check" })
                                    @* it made a designer check box by this code
                                            <div class="squaredOne">
                                            <input type="checkbox" value="None" id="squaredOne" name="check" />

                                            @Html.CheckBoxFor(model => model.Published, new { value = "None", @id = "squaredOne", name = "check" })
                                            <label for="squaredOne"></label>
                                        </div>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Upload Category</label>
                                <div class="col-lg-6">
                                    <img src="~/Images/@Model.PictureName" height="50px" width="100px"/>
                                    <input type="file" name="Image">
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-lg-8 pull-right">
                                    <input class="btn btn-primary btn-lg btn-width" type="button" value="Create" onclick="Update('/Category/EditCategories', '#role_form')" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
