﻿@model  IEnumerable<MyShop.Category> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="~/assets/developer_js/Category.js"></script>

<div id="showpage">
</div>

<div id="indexpage">


    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Category  </h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="box dark">
                        <header>
                            <a href="#" onclick="CreatePage('/Category/Create')">
                                <div class="icons">
                                    <i class="icon-edit">
                                    </i>
                                </div>
                            </a>
                            <h5>Category Index Page</h5>
                        </header>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            @*<th>SubCategory</th>*@
                                            @*<th>Date</th>*@
                                            <th>IsActive</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Category in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@Category.Name</td>
                                                @*<td>@Category.ParentCategoryId</td>
                                                <td>@Category.PictureName</td>*@
                                                <td>@Category.Published</td>
                                                @*<td>@Html.ActionLink("Edit", "EditCategories", new { id = @Category.ID })</td>*@
                                                <td><a href="#" onclick="EditData('/Category/EditCategories',@Category.ID)">Edit</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END PAGE CONTENT -->

</div>