﻿@model MyShop.Product
@using System;


<link rel="stylesheet" href="~/assets/css/bootstrap-fileupload.min.css" />
<script type="text/javascript" src="~/assets/developer_js/ImageUpload.js"></script>
<link rel="stylesheet" href="~/assets/developer_css/ArrowTab.css" />

<div id="content">

    <div class="inner">

        <div class="row">
            <div class="col-lg-12">


                <div class="box primary">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#Add-Product" data-toggle="tab"><span class="badge">1</span><strong>Add Product</strong><span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Seo" data-toggle="tab"><span class="badge">2</span>Seo<span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Image" data-toggle="tab"><span class="badge">3</span>Image<span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Brand-Mapping" data-toggle="tab"><span class="badge">4</span>Brand Mapping<span class="chevron"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @id = "product_form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {

                        @Html.AntiForgeryToken();
                        @*@Html.HiddenFor(model => model.createdOnUtc, new { @value=DateTime.Now});
                            @Html.HiddenFor(model => model.updatedOnUtc, new { @value = DateTime.Now });*@

                        <div class="tab-pane fade in active" id="Add-Product">

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2"> Brand </label>
                                <div class="col-lg-5">
                                    @Html.DropDownList("manufucturersID", (SelectList)ViewBag.manufucturersID, "--Select--", new { @class = "form-control", @Required = "Required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Category Name </label>
                                <div class="col-lg-5">

                                    @Html.DropDownList("categoryID", (SelectList)ViewBag.categoryID, "--Select--", new { @class = "form-control", @Required = "Required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Product Name</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.productName, new { placeholder = "Product Name", @required = "required", @class = "form-control capitalize" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Short Description</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.shortDescription, new { placeholder = "Short Description", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta Keywords</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.metaKeywords, new { placeholder = "Meta Keywords", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta Description</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.metaDescription, new { placeholder = "Meta Description", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta Title</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.metaTitle, new { placeholder = "Meta Title", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Price</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.price, new { placeholder = "Price", @required = "required", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Image</label>
                                <div class="col-lg-8">
                                    <div class="fileupload fileupload-new" data-provides="fileupload" id="id1">

                                        <div>
                                            <span class="btn btn-file btn-primary" style="width: 492px;"><span @*class="fileupload-new"*@>Select image</span><input type="file" name="images" onchange="img1(this)" multiple accept='image/*' /></span>
                                        </div>
                                        <div class="controls" id="multipleimage">

                                        </div>


                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Old Price</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.oldPrice, new { placeholder = "Old Price", @class = "form-control" })
                                </div>
                            </div>

                            <div id="div-1" class="accordion-body collapse in body">
                                <div class="form-group">
                                    <label class="control-label col-lg-2">Select Color</label>
                                    <div class="col-lg-5">
                                        <div class="make-switch" data-on="primary" data-off="info">
                                            <input type="color" style="width: 492px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="div-1" class="accordion-body collapse in body">
                                <div class="form-group">
                                    <label class="control-label col-lg-2">IsActive</label>
                                    <div class="col-lg-5">
                                        <div class="make-switch" data-on="primary" data-off="info">
                                            @Html.CheckBoxFor(model => model.published)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2"></label>
                                <div class="col-lg-2">
                                    @*<input type="submit" class="btn btn-primary" value="Save" />*@
                                    
                                    <a href="#" class="btn btn-primary" onclick="Create()">Save</a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="/Products/Index" class="btn btn-primary">Back</a>
                                 
                                </div>
                            </div>


                        </div>

                        <div class="tab-pane fade in active" id="Seo">
                            <div id="div-2" class="accordion-body collapse in body">

                            </div>
                        </div>

                        <div class="tab-pane fade in active" id="Image">


                        </div>

                        <div class="tab-pane fade in active" id="Brand-Mapping">
                            <div id="div-4" class="accordion-body collapse in body">

                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>

</div>
