﻿@model MyShop.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufucturers.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufucturers.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displayStockAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayStockAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displayStockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayStockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTaxExempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTaxExempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taxCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metaKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metaKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metaTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allowCustomerReviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allowCustomerReviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availableStartDisDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availableStartDisDateTimeUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availableEndDisDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availableEndDisDateTimeUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isGiftCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isGiftCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giftCardTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giftCardTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDownload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDownload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.downloadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.downloadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFreeShippment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFreeShippment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippingCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippingCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryDateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryDateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasDiscountsApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasDiscountsApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discounts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedOnUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
