﻿@model IEnumerable<MyShop.Product_Picture_mapping>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="/assets/plugins/chosen/chosen.min.css" />
<script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>




<div id="content">

    <div class="inner">

        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>

                        <h5>Product Detail</h5>

                    </header>
                    <div id="div-1" class="accordion-body collapse in body">
                        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @id = "category_form", @class = "form-horizontal" }))
                        {

                            foreach (var model in Model)
                            {
                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Categoy Name</label>
                                    <div class="col-lg-8">
                                        .
                                        @Html.DisplayName(model.product.category.Name)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Manufucturer Name </label>
                                    <div class="col-lg-8">
                                        @Html.DisplayName(model.product.manufucturers.name)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Product Name</label>
                                    <div class="col-lg-8">
                                        @Html.DisplayName(model.product.productName)
                                    </div>
                                </div>
                                if (model.product.shortDescription != null)
                                {
                                    <div class="form-group">
                                        <label for="text1" class="control-label col-lg-4">Short Description</label>
                                        <div class="col-lg-8">
                                            @Html.DisplayName(model.product.shortDescription)
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Price</label>
                                    <div class="col-lg-8">
                                        @Html.DisplayName(model.product.price.ToString())
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Old Price</label>
                                    <div class="col-lg-8">
                                        @Html.DisplayName(model.product.oldPrice.ToString())
                                    </div>
                                </div>

                                if (model.product.metaKeywords != null)
                                {
                                    <div class="form-group">
                                        <label for="text1" class="control-label col-lg-4">Neta Keywords</label>
                                        <div class="col-lg-8">
                                            @Html.DisplayName(model.product.metaKeywords)
                                        </div>
                                    </div>
                                }
                                if (model.product.metaDescription != null)
                                {
                                    <div class="form-group">
                                        <label for="text1" class="control-label col-lg-4">Meta Description</label>
                                        <div class="col-lg-8">
                                            @Html.DisplayName(model.product.metaDescription)
                                        </div>
                                    </div>
                                }
                                if (model.product.metaTitle != null)
                                {
                                    <div class="form-group">
                                        <label for="text1" class="control-label col-lg-4">Meta Title</label>
                                        <div class="col-lg-8">
                                            @Html.DisplayName(model.product.metaTitle)
                                        </div>
                                    </div>
                                }
                                if (model.product.metaTitle != null)
                                {
                                    <div class="form-group">
                                        <label for="text1" class="control-label col-lg-4">Meta Title</label>
                                        <div class="col-lg-8">
                                            @Html.DisplayName(model.product.metaTitle)
                                        </div>
                                    </div>
                                }

                                <div id="div-1" class="accordion-body collapse in body">

                                    <div class="form-group">
                                        <label class="control-label col-lg-4">IsActive</label>

                                        <div class="col-lg-8">
                                            <div class="make-switch" data-on="primary" data-off="info">

                                                @Html.CheckBox("published", model.product.published)
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                break;
                            }

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Image</label>

                                <div class="col-lg-8">
                                    @foreach (var image in Model)
                                    {
                                        <img src="/UserImage/@image.picture.pictureName" height="100px" width="100px" alt="error" />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4"></label>

                                <div class="col-lg-8">
                                    @Html.ActionLink("Back", "Index","", new { @class = "btn btn-primary" })
                                </div>
                            </div>

                        }



                    </div>

                </div>
            </div>
        </div>
    </div>

</div>






