﻿@model MyShop.Product_Picture_mapping

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="/assets/css/bootstrap-fileupload.min.css" />
<link rel="stylesheet" href="/assets/plugins/chosen/chosen.min.css" />
<script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>

<script>


</script>
   setImage
<script>
    function img1(input) {
        var i = 0;
        $(".setImage").remove();
        $.each(input, function (index, name) {
            if (input.files && input.files[i]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //$(".id1").prepend($("<div class='fileupload-new thumbnail' style='width: 200px; height: 150px;'><img src=" + e.target.result + "/></div>"));
                    //var img = $("<div class='fileupload-new thumbnail' style='width: 200px; height: 150px;'><img src=" + e.target.result + "/></div>").appendTo("#id1");
                    //console.log(e.target.result);
                    var img = $("<img  style='width: 200px; height: 150px;'></img>").appendTo("#id1");
                    img.attr({ "src": e.target.result })
                }
                reader.readAsDataURL(input.files[i]);
            }
            i++;
        })
    }
    $(function () {
        $(".message").hide();
    });

</script>

<style>
    .nav-pills > li > a {
        border-radius: inherit;
        font-family: serif;
    }

    a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
        margin: 5px;
    }

    .nav-pills > li > a > .badge {
        margin: 5px;
    }

    .nav-pills > li + li {
        background-color: rgb(238, 233, 229);
        margin-left: inherit;
    }

    .nav-pills > li {
        background-color: rgb(238, 233, 229);
    }
    /*.nav > li > a:hover, .nav > li > a>.chevron:focus {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #428bca;
    }*/


    a.list-group-item.active > .badge, .nav-pills > .active > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron :hover {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid rgb(238, 233, 229);
    }

    .tab-content {
        background-color: rgb(238, 233, 229);
    }
</style>

<div id="content">

    <div class="inner">

        <div class="row">
            <div class="col-lg-12">


                <div class="box primary">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#Add-Product" data-toggle="tab"><span class="badge">1</span><strong>Add Product</strong><span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Seo" data-toggle="tab"><span class="badge">2</span>Seo<span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Image" data-toggle="tab"><span class="badge">3</span>Image<span class="chevron"></span></a>
                        </li>
                        <li>
                            <a href="#Brand-Mapping" data-toggle="tab"><span class="badge">4</span>Brand Mapping<span class="chevron"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @id = "category_form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.product.id);
                        @Html.HiddenFor(model => model.product.createdOnUtc);
                        @Html.HiddenFor(model => model.product.updatedOnUtc);
                        <div class="tab-pane fade in active" id="Add-Product">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.product.id)

                            <div class="form-group">
                                <label class="control-label col-lg-2">Name *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.productName, new { htmlAttributes = new { @class = "form-control capitalize", @Required = "Required" } })
                                    @Html.ValidationMessageFor(model => model.product.productName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Short Description</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.shortDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.product.shortDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Full Discription</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.fullDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.product.fullDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Price *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.price, new { htmlAttributes = new { @class = "form-control", @Required = "Required" } })
                                    @Html.ValidationMessageFor(model => model.product.price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Old Price *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.oldPrice, new { htmlAttributes = new { @class = "form-control", @Required = "Required" } })
                                    @Html.ValidationMessageFor(model => model.product.oldPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Select Category *</label>
                                <div class="col-lg-5">
                                    @Html.DropDownList("categoryID", null, htmlAttributes: new { @class = "form-control chzn-select", @Required = "Required" })
                                    @Html.ValidationMessageFor(model => model.product.categoryID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Brand *</label>
                                <div class="col-lg-5">
                                    @Html.DropDownList("manufucturersID", null, htmlAttributes: new { @class = "form-control chzn-select", @Required = "Required" })
                                    @Html.ValidationMessageFor(model => model.product.manufucturersID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.product.displayStockAvailability, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.displayStockAvailability)
                                            @Html.ValidationMessageFor(model => model.product.displayStockAvailability, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.displayStockQuantity, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.displayStockQuantity)
                                            @Html.ValidationMessageFor(model => model.product.displayStockQuantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.isTaxExempt, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.isTaxExempt)
                                            @Html.ValidationMessageFor(model => model.product.isTaxExempt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.taxCategoryId, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.taxCategoryId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.taxCategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta keyword *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.metaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.product.metaKeywords, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta Description *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.metaDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.product.metaDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2">Meta Title *</label>
                                <div class="col-lg-5">
                                    @Html.EditorFor(model => model.product.metaTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.product.metaTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.product.imagePath, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.imagePath, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.imagePath, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@


                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.product.isGiftCard, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.isGiftCard)
                                            @Html.ValidationMessageFor(model => model.product.isGiftCard, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.giftCardTypeId, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.giftCardTypeId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.giftCardTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.isDownload, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.isDownload)
                                            @Html.ValidationMessageFor(model => model.product.isDownload, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.downloadId, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.downloadId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.downloadId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.isFreeShippment, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.isFreeShippment)
                                            @Html.ValidationMessageFor(model => model.product.isFreeShippment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.shippingCharge, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.shippingCharge, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.shippingCharge, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.deliveryDateId, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.deliveryDateId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.deliveryDateId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.weight, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.weight, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.weight, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.length, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.length, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.length, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.width, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.width, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.width, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.height, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.height, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.height, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label class="control-label col-lg-2">Image</label>
                                <div class="col-lg-8">
                                    <div class="fileupload fileupload-new" data-provides="fileupload" id="id1">
                                        @*<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="/assets/img/demoUpload.jpg" alt="" /></div>*@
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        @foreach (var image in Model.lstPicture)
                                        {
                                            <img class="setImage" src="~/UserImage/@image.pictureName" style="width: 200px; height: 150px;" />
                                        }
                                        <div>
                                            <span class="btn btn-file btn-primary"><span @*class="fileupload-new"*@>Select image</span><span class="fileupload-exists">Change</span><input type="file" name="images" onchange="img1(this)" multiple /></span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">IsActive</label>
                                <div class="col-lg-5">
                                    <div class="make-switch" data-on="primary" data-off="info">
                                        @Html.EditorFor(model => model.product.published)
                                        @Html.ValidationMessageFor(model => model.product.published, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.product.stockQuantity, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.stockQuantity, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.stockQuantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.hasDiscountsApplied, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.product.hasDiscountsApplied)
                                            @Html.ValidationMessageFor(model => model.product.hasDiscountsApplied, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.product.discounts, htmlAttributes: new { @class = "control-label col-lg-2" })
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.product.discounts, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.product.discounts, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-2"></label>
                                <div class="col-lg-5">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </div>


                        </div>


                        <div class="tab-pane fade in active" id="Seo">
                            <div id="div-2" class="accordion-body collapse in body">

                            </div>
                        </div>

                        <div class="tab-pane fade in active" id="Image">


                        </div>

                        <div class="tab-pane fade in active" id="Brand-Mapping">
                            <div id="div-4" class="accordion-body collapse in body">

                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>

</div>
