﻿@model IEnumerable<MyShop.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="~/assets/developer_js/Product.js"></script>
@*<script>
    function img1(input) {
        var i = 0;
        $.each(input, function (index, name) {
            if (input.files && input.files[i]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //$(".id1").prepend($("<div class='fileupload-new thumbnail' style='width: 200px; height: 150px;'><img src=" + e.target.result + "/></div>"));
                    //var img = $("<div class='fileupload-new thumbnail' style='width: 200px; height: 150px;'><img src=" + e.target.result + "/></div>").appendTo("#id1");
                    //console.log(e.target.result);
                    var img = $("<img  style='width: 200px; height: 150px;'></img>").appendTo("#id1");
                    img.attr({ "src": e.target.result })
                }
                reader.readAsDataURL(input.files[i]);
            }
            i++;
        })
    }
    $(function () {

    });

</script>*@
@*<style>
    .nav-pills > li > a {
        border-radius: inherit;
        font-family: serif;
    }

    a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
        margin: 5px;
    }

    .nav-pills > li > a > .badge {
        margin: 5px;
    }

    .nav-pills > li + li {
        background-color: rgb(238, 233, 229);
        margin-left: inherit;
    }

    .nav-pills > li {
        background-color: rgb(238, 233, 229);
    }
    /*.nav > li > a:hover, .nav > li > a>.chevron:focus {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #428bca;
    }*/


    a.list-group-item.active > .badge, .nav-pills > .active > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron :hover {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid #428bca;
    }

    .nav-pills > li > a > .chevron {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        display: block;
        border: 24px solid transparent;
        border-right: 0;
        border-left: 14px solid rgb(238, 233, 229);
    }

    .tab-content {
        background-color: rgb(238, 233, 229);
    }
</style>*@



<div id="showpage">
</div>

<div id="indexpage">


    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Product  </h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="box dark">

                        <header>
                            <a href="#" onclick="CreatePage()">
                                <div class="icons">
                                    <i class="icon-edit">
                                    </i>
                                </div>
                            </a>
                            <h5>Product Index</h5>
                        </header>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.category.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.manufucturers.name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.productName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.shortDescription)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.fullDescription)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.price)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.oldPrice)
                                            </th>


                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.category.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.manufucturers.name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.productName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.shortDescription)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.fullDescription)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.price)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.oldPrice)
                                                </td>


                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>




    </div>
    <!--END PAGE CONTENT -->

</div>
