﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@*@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}*@



<script type="text/javascript" src="~/assets/developer_js/RolesScript.js"></script>

<script>
    $(document).ready(function () {
        $(".message").hide();
      
    })
</script>
    
<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User Roles</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-edit"></i></div>
                        <h5>Roles</h5>
                      
                    </header>
                    <div class="panel-body message">
                        <div class="alert alert-success">
                         
                        </div>
                    </div>



                        <div id="div-1" class="accordion-body collapse in body">

                            @using (Html.BeginForm("Create", "Roles", FormMethod.Post, new { @id = "role_form", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label for="text1" class="control-label col-lg-4">Role Name</label>

                                    <div class="col-lg-8">
                                        @*<input type="text" id="text1" placeholder="Email" class="form-control" />*@
                                        @Html.TextBoxFor(model=>model.Name,new { placeholder = "Role Name",@required="required", @class = "form-control" })
                                        @Html.ValidationMessageFor(model=>model.Name)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="pass1" class="control-label col-lg-4">Create</label>

                                    <div class="col-lg-8">
                                        <input class="form-control" type="button" value="create" onclick="Create()" />
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>
