﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "EditRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script type="text/javascript" src="~/assets/developer_js/RolesScript.js"></script>
<script>
    $(document).ready(function () {
        $(".message").hide();

    })
</script>

<div id="content">

    <div class="inner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Roles</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box dark">
                    <header>
                        <div class="icons"><i class="icon-edit"></i></div>
                        <h5>Edit Roles</h5>

                    </header>
                    <div class="panel-body message">
                        <div class="alert alert-success">

                        </div>
                 </div>
                    <div id="div-1" class="accordion-body collapse in body">

                        @using(Html.BeginForm("EditRoles", "Roles", FormMethod.Post, new { @id = "role_form", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <label for="text1" class="control-label col-lg-4">Role Name</label>

                                <div class="col-lg-8">
                                    @*<input type="text" id="text1" placeholder="Email" class="form-control" />*@
                                    @Html.TextBoxFor(model=>model.Name, new { placeholder = "Role Name", @class = "validate[required] form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pass1" class="control-label col-lg-4">Edit</label>

                                <div class="col-lg-8">
                                    <input class="form-control" type="button" value="update" onclick="Update()" />
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



