﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src="~/assets/developer_js/RolesScript.js"></script>

<div id="showpage">
</div>

<div id="indexpage">


    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12">


                    <h2> Roles  </h2>



                </div>
            </div>

            <hr />


            <div class="row">
                <div class="col-lg-12">
                    <div class="box dark">

                        <header>
                            <a href="#" onclick="CreatePage()">
                                <div class="icons">
                                    <i class="icon-edit">
                                    </i>
                                </div>
                            </a>
                            <h5>Roles Index Page</h5>

                        </header>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Edit</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@role.Name</td>
                                                <td>@Html.ActionLink("Edit", "EditRoles", new { roleName = @role.Name })</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>




    </div>
    <!--END PAGE CONTENT -->

</div>